<h1>Details about <%= @dog.name %></h1>
<p><%= @dog.breed %></p>
<p><%= @dog.description %></p>
<p><%= @dog.rate %></p>
<p><%= @dog.age %></p>
<%= cl_image_tag @dog.photo, height:150, width: 200, crop: :fill %>

<%= link_to "Delete", dog_path(@dog), method: :delete %>

<%= link_to "Book", new_dog_booking_path(@dog) %>
<%= link_to "Back to all dogs", dogs_path %>

