

<div class="show-dog container">
  <%= cl_image_tag @dog.photo, crop: :fill, class:"dog-image" %>
  <h1 class='title'><%= @dog.name %></h1>
  <div class="dog-info">
    <div class="">
      <p><strong>Breed: </strong><%= @dog.breed %></p>
      <p><strong>Address: </strong><%= @dog.address %></p>
      <p><strong>Age: </strong><%= @dog.age %></p>
      <p><strong>Description: </strong><%= @dog.description %></p>
      <p><strong>Price: </strong><%= @dog.rate %> £/day</p>
      <div class="d-flex"><p><strong>Owner: </strong><%= @dog.user.first_name %> <%= @dog.user.last_name %></p>
      <%= simple_form_for(@chatroom) do |f| %>
        <%= hidden_field_tag :receiver_id, @dog.user.id %>
        <%= button_tag type: 'submit' do %>
              <i class="far fa-comments"></i>
          <% end %></div>

      <% end %>
    </div>
  </div>


  <div class="links">

    <% if policy(@dog).edit? %>
      <%= link_to edit_dog_path(@dog), class:"link-text" do %>
      <div class="btn-treehouse"> Update</div>
      <% end %>
    <% end %>
    <% if policy(@dog).destroy? %>
      <%= link_to dog_path(@dog),  method: :delete, class:"link-text" do %>
        <div class="btn-treehouse"> Delete</div>
      <% end %>
    <% end %>
    <%= link_to new_dog_booking_path(@dog), class:"link-text" do %>
      <div class="btn-treehouse"> Book me</div>
    <% end %>
    <%= link_to dogs_path, class:"link-text" do %>
      <div class="btn-orange-border"> Back</div>
    <% end %>
  </div>
</div>

