

<div class="show-dog container">
  <%= cl_image_tag @dog.photo, crop: :fill, class:"dog-image" %>
  <h1 class='title'><%= @dog.name %></h1>
  <div class="dog-info">
    <div class="">
      <p><strong>Breed: </strong><%= @dog.breed %></p>
      <p><strong>Age: </strong><%= @dog.age %></p>
      <p><strong>Description: </strong><%= @dog.description %></p>
      <p><strong>Price: </strong><%= @dog.rate %> £/day</p>      <p><strong>Owner: </strong><%= @dog.user.first_name %> <%= @dog.user.last_name %></p>
    </div>
  </div>

  <div class="links">
    <% if policy(@dog).edit? %>
      <p><%= link_to "Update", edit_dog_path(@dog), class:"btn btn-ouline-warning"%></p>
    <% end %>
    <% if policy(@dog).destroy? %>
      <p><%= link_to "Delete", dog_path(@dog), method: :delete %><p>
    <% end %>
    <p><%= link_to "Back to all dogs", dogs_path %><p>
  </div>
</div>
